body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.post-link {
    text-decoration: none;
}

header{
    min-height: 350px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-page header, .new-post-page header {
    background-image: url(../assets/banner.jpg);
}

header > * {
    z-index: 1;
}

header::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
}

.profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../assets/profile.jpg);
    background-size: cover;
}

.profile-name, .title{
    margin-top: 8px;
    font-size: 2em;
    font-weight: bold;
}

.profile-bio{
    margin-top: 8px;
}

.main{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.main-container{
    min-width: 750px;
    min-height: 600px;
    width: 100%;
    padding-left: 500px;
    padding-right: 500px;
}

.post-container{
    display: flex;
    border: 1px solid #eaecee;
    border-radius: 8px;
    min-height: 200px;
    overflow: hidden;
    transition: all 0.25s ease;
    cursor: pointer;
    margin-top: 24px;
}

.post-container:hover{
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, .1);
}

.post-image{
    flex-basis: 40%;
    background-size: cover;
    background-position: center;
}

.post-content{
    flex-basis: 60%;
    padding: 24px;

}

.post-date{
    font-size: 12px;
    color: #adb5bd;
    font-weight: 600;
}

.post-title{
    margin-top: 16px;
    font-size: 1.5em;
    color: #333;
    font-weight: 600;
}

.post-title h4{
    margin: 0;
}

.post-details{
    margin-top: 4px;
    color: #495057;
    font-weight: 400;
    line-height: 1.4;
    max-height: 65px;
    overflow: hidden;
}

.post-link a{
    text-decoration: none;
}

.nav-button.new-post-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004186;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    transition: all 0.25s ease;
}

.nav-button.new-post-button:hover{
    background-color: #002349;
    transform: translate3d(0, -5px, -5px);
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, .1);;
    
}


.menu{
    display: flex;
    justify-content: space-between;
}
.navigation > a{
    text-decoration: none;
    color: #004186;
    border: 1px solid #002349;
    border-radius: 5px;
    padding: 5px 8px;
}

.navigation > a:hover{
    color: #eaecee;
    background-color: #002349;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, .1);;
}

.actions > a{
    text-decoration: none;
    color: #dd311a;
    border: 1px solid #490000;
    border-radius: 5px;
    padding: 5px 8px;
    transition: all 0.25s ease;
}

.actions > a:hover{
    color: #eaecee;
    background-color: #490000;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, .1);;
}

footer {
    min-height: 100px;
    background-color: #303036;
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}

footer h1{
    text-align: center;
}

.text-signature span{
    color: #05f7ff;
}
.socials a{
    text-decoration: none;
    color: #d3d3d3;
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.socials a:hover{
    border: 1px solid #05f7ff;
    color: #05f7ff;
    transition: all .3s;
}



@media(max-width:800px){

    .home-page{
        position: relative;
        
    }
    .profile-image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-image: url(../assets/profile.jpg);
        background-size: cover;
    }
    
    .profile-name, .title{
        margin-top: 8px;
        font-size: 2em;
        font-weight: bold;
    }
    
    .profile-bio{
        margin-top: 8px;
    }
    .main-container{
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .post-image{
        flex-basis: 50%;
        background-size: cover;
        background-position: center;
    }

    .post-content{
        flex-basis: 50%;
        padding: 12px;
    }

    h4{
        font-size: 20px;
    }

    .post-details{
        font-size: 12px;
    }
}